.products-container {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  margin: 0 auto;
  padding: 0 16px;
  column-gap: 10px;
  row-gap: 50px;
}
