.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  .logo-container {
    height: 100%;
    width: 70px;
    padding: 20px;  //TODO:smda 15 ga uzgartirish
  }
  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .nav-link {
      padding: 10px 15px;
      // padding: 2px 5px;  ->TODO:sm da shunga uzgartirish
      cursor: pointer;
    }
  }
}
